@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';
@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';
@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext');

body {
  font-family: 'Jura', sans-serif;
}

@-webkit-keyframes animationFrames {
  0%, 40%, 70%, to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  25% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px)
  }
  55% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px)
  }
  90% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
  }
}

@keyframes animationFrames {
  0%, 40%, 70%, to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  25% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px)
  }
  55% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px)
  }
  90% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
  }
}

#global-nav {
  position: fixed;
  z-index: 20;
  width: 100%;
  transition: height .5s, line-height .5s;
  -webkit-transition: height .5s, line-height .5s;
  -moz-transition: height .5s, line-height .5s;
  right: 0;
  left: 0;
}

.navbar {
  max-width: 1175px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(99, 102, 111);
  box-shadow: none;
}

.scrolled-nav {
  position: fixed;
  top: 0;
  height: fit-content !important;
  min-height: 80px !important;
  z-index: 16;
  width: 100%;
  left: 0;
  background: #fff;
  padding: 10px 0px 10px 0 !important;
  border-bottom: 1px solid #ccc !important;
  max-width: 100% !important;
  animation: animationFrames linear 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 0.8s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 0.8s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 0.8s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
}

.navbar-brand {
  padding: 0;
  display: block;
  width: 218px;
  height: 53px;
  background: transparent url("/img/car-logo.png") no-repeat scroll 0% 0% / 80%;
}

#global-nav, .scrolled-nav {
  //position: fixed;
  width: 100%;
  left: 0;
}

.translate {
  text-transform: uppercase;
}

.modal-dialog {
  margin: 0;
}

.modal-content {
  border-radius: 0.5rem;
}

.contact-form-set {
  padding: 1rem;
  text-align: center;
}

.lh {
  line-height: 5;
}

.section-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20pt;
}

.category-image {
  /*display: block;*/
  text-align: center;
  /*max-height: 90%;*/
  max-width: 100%;
  margin-top: 15%;
}

.category-block {
  cursor: pointer;
}

.section-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.69),
    rgba(0, 0, 0, 0.4)),
  url(/img/sectionBG.jpg);
  background-size: cover;
  color: #b9b9b9;
  padding-top: 100px;
}

.experience {
  font-size: 17pt;
  font-weight: 500;
  color: #ffffff;
}

.main-title {
  font-weight: 500;
  color: #ffffff;
}

.choose-auto {
  font-size: 20pt;
  font-weight: 500;
  color: #ffffff;
}

.category-title {
  color: #ffffff;
  font-size: 14pt;
  font-weight: 500;
}

.section-2 {
  text-align: center;
  font-size: 18pt;
  margin-bottom: 20px;
  margin-top: 35px;
  color: #6b6b6b3d;
  font-weight: 600;
}

.section-2-item {
  margin-left: 5%;
}

.section-3 {
  margin-top: 35px;
}

ul {
  list-style-type: none;
}

.advantages-title {
  font-size: 11pt;
  font-weight: 600;
}

.advantages-description {
  font-size: 11pt;
}

.section-4 {
  margin-top: 35px;
}

.review-author {
  margin-top: 10px;
  font-size: 12pt;
  text-transform: uppercase;
}

iframe {
  max-width: 100%;
}

.section-5 {
  background: #1d222b;
  color: #ffffff;
  border-top: 2px solid #ffc800;
  border-bottom: 2px solid #ffc800;
}

.section-5-item {
  padding: 35px 15px;
  background: #1b212d;
}

.rent-block {
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.rent-card {
  max-width: 18rem;
  margin: 3px 3%;
  border: 1px solid #ffd400;
  border-radius: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.popular {
  position: absolute;
  width: 50%;
  height: 30px;
  border: 1px solid #af0000;
  border-radius: 6px;
  background: linear-gradient(#ff7272, #ff3b3b);
  font-weight: 900;
  color: black;
  top: -17px;
  right: -20px;
  box-shadow: 0px 0px 5px 1px #9e0000;
}

.rent-card:hover {
  box-shadow: 0 0 7px #ffd400;
  transition: 0.4s;
}

.rent-title {
  font-size: 14pt;
  font-weight: 600;
  background: linear-gradient(45deg, #ffd400, orange);
  color: #1d222b;
}

.card-body {
  background: rgb(8, 21, 37);
}

.rent-description {
  text-align: justify;
}

.rent-contact {
  width: 100%;
  font-size: 22pt;
}

.section-6 {
  position: relative;
  padding-top: 35px;
  height: 450px;
}

.section-7 {
  border-top: 2px solid #ffd400;
  background: #1d222b;
}

.section-7 a {
  color: #ffd400;
}

.map {
  position: absolute;
  top: 0;
  z-index: 1;

}

.map-item {
  z-index: 2;
  position: relative;
}

.wrap-contacts {
  width: 40%;
  padding: 20px 40px;
  left: 10%;
  margin-top: 5%;
  border: 2px solid #ffd400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #1b212d;
  color: #ffd400 !important;
  font-weight: 500;
  border-radius: 15px;
}

.wrap-contact-item {
  width: 20%;
  display: inline-block;
}

.contact-item {
  color: #ffd400 !important;
}

.contact-item:hover {
  text-shadow: 0px 0px 3px #ffd400;
  font-weight: 500;
  text-decoration: none;
}

.wrap-contacts li:last-child {
  display: flex;
}

.wrap-contacts li:last-child .wrap-contact-item {
  padding-right: 9%;
}

.green-btn {
  background: rgb(157, 205, 10) none repeat scroll 0% 0%;
  border-radius: 35px;
  color: white !important;
  padding: 10px 25px !important;
  border: none;
}

.offerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.input_wrap input {
  width: 100%;
  padding: 0 5px;
  border: 1px solid darkgray;
}

.form-btn {
  background: yellow;
}

.modal-form-margin {
  margin: 10px 0;
}

.form-number {
  font-size: 25pt;
}

.modal-dialog {
  margin: 0 auto;
}

.for-mobile {
  display: none;
}

.gold-btn {
  border-radius: 35px;
  border: 2px solid #ffc800;
  color: #ffc800 !important;
  font-weight: 700;
  padding: 10px 25px !important;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 30%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
$breakpoint-s: 360px;
$breakpoint-375s: 375px;
$breakpoint-411s: 411px;
$breakpoint-xs: 320px;

@media (max-width: 991px) {
  #global-nav {
    position: absolute;
  }
}

@media (max-width: $breakpoint-tablet) {

  .navbar {
    padding: 0 !important;
    min-height: 48px;
  }
  .navbar-brand {
    width: 151px;
    height: 39px;
  }
  .scrolled-nav {
    height: 48px !important;
    min-height: 48px !important;
  }
  .modal-container {
    width: 85% !important;
  }
  .for-mobile {
    display: block;
    margin: 20px auto;
  }
  .lh {
    line-height: 1;
  }
  .rent-block {
    flex-wrap: wrap;
  }
  .advantages-list {
    padding: 0;
  }
  .advantages-item-order {
    order: 1;
  }
  .advantages-image-order {
    order: 0;
  }
  .section-6 {
    height: 555px;
  }
  .map {
    display: none;
  }
  .map-button {
    width: 50%;
    text-align: center;
    font-size: 9pt;
  }
  .wrap-contacts {
    width: 96%;
    padding: 20px 5px;
    left: 2%;
    border-radius: 0;
  }
  .wrap-contact-item {
    width: 100%;
  }
  .wrap-contacts li:last-child .wrap-contact-item {
    padding-right: 0;
  }
  .wrap-contacts li:last-child {
    flex-wrap: wrap;
  }
  .not-mobile {
    display: none;
  }
}

@media (max-width: 500px) {
  .wrap-contacts {
    width: 100%;
    left: 0;
    border: 0;
    border-top: 2px solid #ffd400;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .map {
    display: block;
  }
  .wrap-contacts {
    width: 57%;
  }
  .wrap-contact-item {
    width: 21%;
  }
  .wrap-contacts li:last-child {
    flex-wrap: nowrap;
  }
  .wrap-contacts li:last-child .wrap-contact-item {
    padding-right: 12%;
  }
}

@media (max-width: $breakpoint-xs) {
  .navbar-brand {
    width: 129px;
    height: 32px;
  }
}


