<template>
  <div class="mw-100">
    <main-menu @show="showContact" ></main-menu>
    <div class="text-center section-1">
      <div class="container">
        <div class="row">
          <div class="col-md-12 lh">
            <span class="experience">{{$t('experience')}}</span>
            <h1 class="main-title">{{$t('main_title')}}</h1>
            <span class="choose-auto">{{$t('choose_category')}}</span>
          </div>
          <div class="col-md-6 category-block " v-for="(category, index) in categories" @click="selectCategory(index)">
            <img class="category-image" :src="category.image">
            <p class="category-title">{{category['title_'+locales[locale]]}}</p>
          </div>
          <a class="open_modal gold-btn lang for-mobile" @click="showContact">{{$t('contact_btn')}}</a>
        </div>
      </div>
    </div>
    <div class="section-2">
      <div class="container">
        <span>{{$t('auto_for')}}</span>
        <span class="section-2-item">{{$t('uber')}}</span>
        <span class="section-2-item">{{$t('bold')}}</span>
        <span class="section-2-item">{{$t('temporary')}}</span>
        <span class="section-2-item">{{$t('cargo_transportation')}}</span>
      </div>
    </div>
    <div class="section-3 text-center">
      <div class="container">
        <span class="section-title">{{$t('conditions')}}</span>
        <div class="row mt-5">
          <div class="col-6 col-sm-6 col-md-6 col-lg-2 advantages-item-order">
            <ul class="text-left advantages-list"
                v-for="(advantage, index) in advantages[currentCategory]"
                v-if="index % 2 !== 0"
            >
              <li>
              <span class="advantages-title">
                {{advantage['title_'+locales[locale]]}}
              </span>
                <p class="advantages-description">
                  {{advantage['description_'+locales[locale]]}}
                </p>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-12 col-lg-8 advantages-image-order">
            <img :src="advantages[currentCategory].image" class="mw-100">
          </div>
          <div class="col-6 col-sm-6 col-md-6  col-lg-2">
            <ul class="text-left advantages-list"
                v-for="(advantage, index) in advantages[currentCategory]"
                v-if="index % 2 === 0"
            >
              <li>
              <span class="advantages-title">
                {{advantage['title_'+locales[locale]]}}
              </span>
                <p class="advantages-description">
                  {{advantage['description_'+locales[locale]]}}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section-4 text-center">
      <div class="container">
        <span class="section-title">{{$t('reviews')}}</span>
        <carousel class="mt-5" v-if="reviews[currentCategory]"
                  :responsive="{0:{items:1,nav:false},700:{items:2,nav:false},1000:{items:3,nav:false}}">

          <div v-for="review in reviews[currentCategory]">
            <iframe width="300" height="200"
                    :src="review.link"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="review-author">
              <span>{{review['name_'+locales[locale]]}}</span>
              <span>{{review['service_'+locales[locale]]}}</span>
            </div>
          </div>
        </carousel>
      </div>
    </div>
    <div class="section-5 text-center">
      <div class="section-5-item">
        <div class="row">
          <div class="md-12 w-100">
            <span class="section-title">{{$t('rent')}}</span>
            <p>{{$t('rent_subtitle')}}</p>
          </div>
          <div class="d-flex rent-block">
            <div class="card mb-3 col-xs-12 col-md-12 rent-card" style="max-width: 18rem;"
                 v-for="condition in conditions[currentCategory]">
              <span class="popular" v-if="condition['popular'] == 1">{{$t('popular')}}</span>
              <div class="card-header rent-title">{{condition['title_'+locales[locale]]}}</div>
              <div class="card-body">
                <h5 class="card-title">{{$t('from')}} {{condition.price}} {{$t('currency')}}</h5>
                <p class="card-text rent-description">{{condition['description_'+locales[locale]]}}</p>
              </div>
            </div>
          </div>
          <div class="rent-contact col-12">
            <span>{{$t('contact_us')}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="section-6">
      <iframe class="map"
              src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d43820.75609341997!2d32.6006405!3d46.65051879999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1siframe%20google%20maps!5e0!3m2!1sru!2sua!4v1569797216387!5m2!1sru!2sua"
              width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      <span class="section-title justify-content-center d-flex map-item">{{$t('contacts')}}</span>
      <ul class="wrap-contacts map-item">
        <li>
          <span class="wrap-contact-item">{{$t('phone')}}</span>
          <a class="contact-item" href="tel:33333333333">{{contacts.phone}}</a>
        </li>
        <li>
          <span class="wrap-contact-item">E-mail:</span>
          <a class="contact-item" href="mailto: abc@example.com">{{contacts.email}}</a>
        </li>
        <li>
          <span class="wrap-contact-item">Viber:</span>
          <a class="contact-item" href="viber://forward?text=+33333333333">{{contacts.viber}}</a>
        </li>
        <li>
          <span class="wrap-contact-item">Telegram:</span>
          <a class="contact-item" href="tg://resolve?domain=имя">{{contacts.telegram}}</a>
        </li>
        <li>
          <span class="wrap-contact-item">WhatsApp:</span>
          <a class="contact-item" href="whatsapp://send?phone=79xxxxxxxxx">{{contacts.whatsapp}}</a>
        </li>
        <li>
          <span class="wrap-contact-item">Facebook:</span>
          <a class="contact-item" href="https://www.facebook.com/" target="_blank">{{contacts.facebook}}</a>
        </li>
        <li class="mobile-address">
          <span class="wrap-contact-item">{{$t('address')}}</span>
          <a class="contact-item" href="http://maps.google.com/?q=1200 Pennsylvania Ave SE, Washington, District of Columbia, 20003" target="_blank">
          {{contacts.address}}</a>
        </li>
        <a href="#" data-toggle="modal" data-target="#google-map" class="open_modal gold-btn lang for-mobile map-button"
           key="contacts_us">{{$t('open_map')}}</a>
      </ul>
    </div>
    <div class="section-7">
      <div class="container">
        <a href="/legal-data">{{$t('legal_data')}}</a>
        <a class="float-right" href="/coockie-policy">{{$t('coockie_policy')}}</a>
      </div>
    </div>
    <mobile-map></mobile-map>
    <contact-modal v-if="showContactModal" @closeModal="showContact"></contact-modal>
  </div>
</template>

<script>
    import MainMenu from "../components/MainMenu";
    import axios from 'axios'
    import carousel from 'vue-owl-carousel'
    import {loadMessages} from "../plugins/i18n";
    import {mapGetters} from "vuex";
    import ContactModal from "../components/ContactModal";
    import MobileMap from "../components/MobileMap";


    export default {
        layout: 'basic',
        name: "index.vue",
        data() {
            return {
                currentCategory: 0,
                categories: {},
                advantages: {},
                reviews: {},
                conditions: {},
                contacts: {},
                name: '',
                phone: '',
                successSubmit: '',
                showModal: false,
                showContactModal: false
            }
        },
        computed: mapGetters({
            locale: 'lang/locale',
            locales: 'lang/locales'
        }),
        methods: {

            selectCategory(number) {
                this.currentCategory = number;
                const currentBlock = document.querySelector(".category-block");
                const liElements = currentBlock.querySelectorAll(".category-image");
                for (let i = 0; i < liElements.length; i++) {
                    liElements[i].classList.remove("active", "show");
                    if (i === number) {
                        liElements[i].classList.add("active", "show");
                    }
                }
            },
            getCategories() {
                axios
                    .get('api/categories')
                    .then(response => {
                        this.categories = response.data
                    })
            },
            getAdvantages() {
                axios
                    .get('api/advantages')
                    .then(response => {
                        this.advantages = response.data
                    })

            },
            getReviews() {
                axios
                    .get('api/reviews')
                    .then(response => {
                        this.reviews = response.data
                    })
            },
            getConditions() {
                axios
                    .get('api/conditions')
                    .then(response => {
                        this.conditions = response.data
                    })
            },
            getContacts() {
                axios
                    .get('api/contacts')
                    .then(response => {
                        this.contacts = response.data
                        console.log(this.contacts)
                    })
            },
            showContact(){
                this.showContactModal = !this.showContactModal
            },
        },
        mounted() {
            this.getAdvantages()
            this.getReviews()
            this.getConditions()
            this.getCategories()
            this.getContacts()
        },
        components: {
            MobileMap,
            ContactModal,
            MainMenu,
            carousel,
        },
    }
</script>

<style scoped>

</style>
