<template>
  <div>
    <div class="top-right links">
      <template v-if="authenticated">
        <router-link :to="{ name: 'home' }">
          {{ $t('home') }}
        </router-link>
      </template>
      <template v-else>
        <router-link :to="{ name: 'login' }">
          {{ $t('login') }}
        </router-link>
        <router-link :to="{ name: 'register' }">
          {{ $t('register') }}
        </router-link>
      </template>
    </div>

    <div class="text-center">
      <div class="title mb-4">
        {{ title }}
      </div>

      <div class="links">
        <a href="https://github.com/cretueusebiu/laravel-vue-spa">github.com/cretueusebiu/laravel-vue-spa</a>
      </div>
    </div>
  </div>
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-12 text-center lh">-->
<!--        <span>6 лет на рынке</span>-->
<!--        <h3>Авто в аренду за 30 минут</h3>-->
<!--        <span>Выберите категорию авто</span>-->
<!--      </div>-->
<!--      <div class="col-md-6 ">-->
<!--        <img class="category-image" src="/dist/img/m-fabia.png">-->
<!--      </div>-->
<!--      <div class="col-md-6 testqwe">-->
<!--        <img class="category-image" src="/dist/img/fiat-ducato.png">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  </div>-->
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'basic',

  metaInfo () {
    return { title: this.$t('home') }
  },

  data: () => ({
    title: window.config.appName
  }),

  computed: mapGetters({
    authenticated: 'auth/check'
  })
}
</script>

<style scoped>
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.title {
  font-size: 85px;
}
  .lh{
    line-height: 5;
  }
  .category-image{
    text-align: center;
    max-width: 100%;
    max-height: 100%;
  }
</style>
