<template>
  <transition name="modal">
    <div class="modal-mask" @click="close">
      <div class="modal-wrapper" >
        <div class="modal-container" @click.stop>
          <form id="career_contact_form" role="form" @submit.prevent="submit">
            <div class="container">
              <div class="contact-form-set row">
                <div class="offerForm">
                  <h4>{{$t('contact_us_modal')}}</h4>
                  <div class="input_wrap modal-form-margin">
                    <input class="input" type="text" name="name" v-model="name" placeholder="Enter your name" required/>
                  </div>
                  <div class="input_wrap modal-form-margin">
                    <input class="input" name="phone" v-model="phone" placeholder="Enter your phone number" required></input>
                  </div>
                </div>
                <div class="rules-recapcha-wrapper w-100">
                  <input class="rules-recapcha-checkbox" type="checkbox" required>
                  <span>{{$t('agree')}}</span>
                </div>
                <div class="w-100 mt-3">
                  <button class="btn btn-outline form-btn" type="submit">{{$t('submit')}}</button>
                </div>
                <div class="w-100 form-number">
                  <span>{{$t('call')}}</span>
                  <p>505 505 525</p>
                </div>
                <div class="submit-block col-sm-12"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "ContactModal",
        data(){
            return {
                name: '',
                phone: '',
            }
        },

        methods: {
            close() {
                this.$emit('closeModal')
            },
            submit() {
                axios.post('api/send-mail', {
                    name: this.name,
                    phone: this.phone
                }).then(response => {
                    this.close()
                    this.showSuccess()
                }).catch(error => {
                    this.showError()
                });
            },
        },
        notifications: {
            showSuccess: {
                message: 'Your request has been accepted, we will contact you shortly.',
                type: 'success'
            },
            showError: {
                message: 'Something went wrong, check the entered data and try again.',
                type: 'error'
            }
        }
    }
</script>

<style scoped>

</style>
