<template>
  <nav class="navbar navbar-default main_header" id="global-nav" v-on:scroll="scrollFunction">
    <div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="#"></a></div>
      <ul class="nav navbar-right">
        <li class="navbar_buttons_right">
          <button v-for="(value, key) in locales" :key="key" @click.prevent="setLocale(key)" class="translate btn btn-outline-warning mr-1">{{ value }}</button>
          <button class="green-btn lang not-mobile" @click="showModal">{{$t('contact_btn')}}</button>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
    import {mapGetters} from "vuex";
    import {loadMessages} from "../plugins/i18n";

    export default {
        name: "MainMenu",
        data() {
            return {
                mainmenu: {},
            }
        },
        computed: mapGetters({
            locale: 'lang/locale',
            locales: 'lang/locales'
        }),
        created() {
                window.addEventListener("scroll", this.scrollFunction);
        },
        destroyed() {
                window.removeEventListener("scroll", this.scrollFunction);
        },
        methods: {
            scrollFunction() {
                if (
                    document.body.scrollTop > 20 ||
                    document.documentElement.scrollTop > 20
                ) {
                    document.querySelector("#global-nav").classList.add("scrolled-nav");
                } else if (document.body.scrollTop < 20) {
                    document.querySelector("#global-nav").classList.remove("scrolled-nav");
                }
            },
            setLocale (locale) {
                if (this.$i18n.locale !== locale) {
                    loadMessages(locale)

                    this.$store.dispatch('lang/setLocale', { locale })
                }
            },
            showModal(){
                this.$emit('show')
            }
        },
    };
</script>

<style scoped>

</style>
