<template>
  <div class="modal fade" id="google-map">
    <div class="modal-dialog">
      <div class="modal-content simple-form">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d43820.75609341997!2d32.6006405!3d46.65051879999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1siframe%20google%20maps!5e0!3m2!1sru!2sua!4v1569797216387!5m2!1sru!2sua"
          width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "MobileMap"
    }
</script>

<style scoped>

</style>
