<template>
  <div class="main-layout">
<!--    <navbar />-->

    <div class="container mt-4">
      <child />
    </div>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'
import MainMenu from '~/components/MainMenu'

export default {
  name: 'MainLayout',

  components: {
    Navbar,
    MainMenu
  }
}
</script>
